.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header__list {
    display: flex;
    margin-right: 150px;
    list-style: none;
}

.header__list--link {
    text-decoration: none;
    margin-left: 20px;
    color: #5f5a66;
}

.header__list--link:hover {
    color: #000;
    width: 51px;
    height: 23px;
    top: 70px;
    left: 863px;
    font-family: Mulish;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
}